{{$page := .}}
{{- with .Params.image_1 -}}
<ul class="projects clearfix">
  {{- range . -}}
    <li class="image_1{{with .class}} {{.}}{{end}}">
      <img href="{{.link}}">
        {{- partial "modules/responsive-image" (dict "page" $page "image" .image) -}}
      </img>
    </li>
  {{- end -}}
</ul>
{{- end -}}
