{{with .Params.project_title}}
<div class="categories clearfix bottom-space">
  {{- range . -}}
    <div class="category{{with .class}} {{.}}{{end}}">
      {{- with .name -}}
        <div class="project-heading">{{- . | safeHTML -}}</div>
      {{- end -}}
    </div>
  {{- end -}}
</div>
{{- end -}}
