{{$page := .}}
{{- with .Params.video -}}
<ul class="projects clearfix">
  {{- range . -}}
    <li class="image_1{{with .class}} {{.}}{{end}}">
      <video href="{{.link}}">
        {{- partial "modules/responsive-image" (dict "page" $page "image" .image) -}}
      </video>
    </li>
  {{- end -}}
</ul>
{{- end -}}
