{{- define "main" -}}
<div class="main-container">
  {{- partial "navigation" . -}}
  {{- partial "header" . -}}
  <div class="container">
    <div class="padder">
      {{- partial "modules/project-title" . -}}
      {{- partial "modules/image-1" . -}}
      {{- partial "modules/text-groups" . -}}
      {{- partial "modules/image-2" . -}}
      {{- partial "modules/text-groups-2" . -}}
      {{- partial "modules/projects" . -}}
      {{- partial "modules/video" . -}}

    </div>
  </div>
</div>
{{- end -}}
